@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

#navbar {
    border-radius: 20px;
    height: 97vh;
    margin: 25px;
    position: sticky;
    top: 25px;
}

#searchIcon {
    position: absolute;
    width: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 16px;
}

#searchField:focus {
    box-shadow: none;
}

.side-title {
    font-family: Poppins;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.side-list {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #6D747A;
}

select {
    border: none !important;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 14px;
    appearance: none;
    background-image: url(./components/utils/select-icon.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position-x: 91%;
    background-position-y: center;
}

select:focus {
    border: none !important;
}

input {
    border: none;
}

input:focus {
    border: 1px solid #fff !important;
}

option {
    background-color: #fff;
    color: #000;
}

.side-list:hover {

    color: #283891;
}

.invest {
    margin: 25px;
}

#menu {
    color: #DEA700;
}

#alert {
    background: #FDF8EB;
    height: 44px;
    border-radius: 8px;

}

.gold {
    color: #DEA700;
}

.width {
    width: fit-content;
}

.gold-border {
    border-color: #DEA700;
}


.container {
    margin: 0;
    padding: 0;
}

.input {

    border-radius: 20px;
}

.btn-custom {
    height: 28px;
    padding: 4px 8px;
    margin-right: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #283891;
    background: #E9EBF4;
    border-radius: 4px;
}

.dropdown-toggle:hover {
    background-color: #18A62B;
    color: white;

}

.dropdown-item:hover {
    color: #283891;
}

.rounded-image {
    position: absolute;
    border-radius: 100%;
    top: -55px;
    left: 20px;
}

.btn-cur {
    background-color: #18A62B;
    color: white;
    padding: 16px 24px;
    border-radius: 8px;

}